@using BasketballLeagueTracker.ViewModels;
@model TeamViewModel

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow border-0">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">
                        @( Model.Team.TeamId == 0 ? "Edytuj " : "Dodaj ") drużynę
                    </h2>
                </div>
                <div class="card-body p-4">
                    <form method="post" asp-controller="Team" asp-action="Upsert" enctype="multipart/form-data">
                        <input asp-for="Team.TeamId" hidden />

                        <div class="border p-3">
                            <div class="form-floating py-2 col-12">
                                <input asp-for="Team.Name" class="form-control border-0 shadow" />
                                <label asp-for="Team.Name" class="ms-2"></label>
                                <span asp-validation-for="Team.Name" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="Team.Description" class="form-control border-0 shadow" />
                                <label asp-for="Team.Description" class="ms-2"></label>
                                <span asp-validation-for="Team.Description" class="text-danger"></span>
                            </div>
                            <div class="mb-3 row p-1">
                                <label asp-for="Team.TeamLogo" class="ms-2"></label>
                                <input asp-for="Team.TeamLogo" name="file" type="file" class="form-control border-0 shadow " onchange="handleFileInputChange(this,'teamLogoPreview')" />
                            </div>
                            <div class="form-group">
                                <label for="stadiumLocation">Lokalizacja stadionu:</label>
                                <div id="map" style="height: 300px;"></div> <!-- Kontener mapy -->
                                <input type="hidden" asp-for="Team.StadiumLatitude" />
                                <input type="hidden" asp-for="Team.StadiumLongitude" />
                            </div>

                            @if (Model.Team.TeamLogo != null)
                            {
                                <img height="100" width="100" src="data:image/png;base64,@(Convert.ToBase64String(Model.Team.TeamLogo))" alt="Team Logo" />
                            }
                            <div class="mb-3 row p-1">
                                <img id="teamLogoPreview" src="#" alt="" style="max-width: 200px; max-height: 200px;" />
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-3">
                                    @if (Model.Team.TeamId == 0)
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Edytuj</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Stwórz</button>
                                    }
                                </div>
                                <div class="col-6 col-md-3">
                                    <a asp-controller="Team" asp-action="Index" class="btn btn-outline-secondary form-control">Wróć do listy zawodników</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
        <script src="~/js/site.js"></script>
        
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-WLvSSFAzty14uSchw8-AJnRBUQxoh4o&callback=initMap" async defer></script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 53.07, lng: 23.09 },
                zoom: 8
            });

            var marker;

            // Dodaj listener kliknięcia, aby umieścić znacznik
            map.addListener('click', function (e) {
                if (marker) marker.setMap(null); // Usuń poprzedni znacznik, jeśli istnieje
                marker = new google.maps.Marker({
                    position: e.latLng,
                    map: map
                });

                // Ustaw wartości dla ukrytych pól formularza
                $('input[name="Team.StadiumLatitude"]').val(e.latLng.lat());
                $('input[name="Team.StadiumLongitude"]').val(e.latLng.lng());
            });
        }
    </script>

        //<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
        //<script>
        //    function initMap() {
        //        // Tworzenie mapy
        //        var map = new google.maps.Map(document.getElementById('map'), {
        //            zoom: 12,
        //            center: { lat: 52.2297, lng: 21.0122 } // Ustawienie domyślnego położenia
        //        });

        //        // Pobieranie koordynat geograficznych dla adresu stadionu
        //        var geocoder = new google.maps.Geocoder();
        //        var address = "ul. Księcia Józefa Poniatowskiego 1, 03-901 Warszawa";
        //        geocoder.geocode({ 'address': address }, function (results, status) {
        //            if (status === 'OK') {
        //                // Ustawienie znacznika na mapie
        //                var marker = new google.maps.Marker({
        //                    position: results[0].geometry.location,
        //                    map: map,
        //                    title: "Stadion Narodowy"
        //                });
        //                // Ustawienie centrum mapy na pozycji znacznika
        //                map.setCenter(results[0].geometry.location);
        //            } else {
        //                alert('Geocode was not successful for the following reason: ' + status);
        //            }
        //        });
        //    }
        //</script>
    }
}

