@model Article



<div class="container mt-5">
    <h2 class="mb-4 text-center">@Model.Title</h2>
    <h3 class="mb-4 text-center">@Model.Content</h3>
    <h3 class="mb-4 text-center">@Model.User</h3>
</div>
