@using BasketballLeagueTracker.ViewModels;
@model ArticleViewModel
@{
    TempData["LeagueId"] = Model.LeagueId;
}
<style>
    .label {
        font-weight: bold;
        font-size:18px;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">

                    @if (Model.Article.Title != null)
                    {
                        <h2 class="text-center">
                            @Model.Article.Title
                        </h2>
                    }
                    else
                    {
                        <h2 class="text-center">
                            Dodaj nowy artykuł
                        </h2>

                    }

                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Article" asp-action="Upsert" enctype="multipart/form-data">
                        <input asp-for="Article.ArticleId" type="hidden" />
                        @*<input asp-for="Article.League.LeagueId" type="hidden" />*@

                        <div class="mb-3">
                            <label asp-for="Article.Title" class="form-label label "></label>
                            @*<label for="title" class="form-label">Tytuł artykułu</label>*@
                            <input asp-for="Article.Title" class="form-control" id="title" />
                            <span asp-validation-for="Article.Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Article.MainPhoto" class="form-label label"></label>
                            @*onchange="handleFileInputChange(this,'playerLogoPreview')"*@
                            <input asp-for="Article.MainPhoto" name="file" type="file" class="form-control" />
                            <span asp-validation-for="Article.MainPhoto" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Article.Content" class="form-label label"></label>
                            <textarea id="summernote" asp-for="Article.Content" class="form-control"></textarea>
                            <span asp-validation-for="Article.Content" class="text-danger"></span>
                        </div>
                        <div class="mb-3 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary" style="margin-right:10px;">@(Model.Article.ArticleId != 0 ? "Edytuj" : "Stwórz")</button>
                            <a asp-controller="League" asp-action="Details" asp-route-leagueId="@Model.LeagueId" class="btn btn-outline-secondary">Wróć do ligi</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: 'Treść artykułu',
                tabsize: 2,
                height: 300
            });
        });
    </script>

}
