@model List<Player>
@{
    ViewData["Title"] = "Zawodnicy";
}


@*<partial name="_Notification" />*@
<div class="container">
    <div class="row pt-3">
        <div class="col-6">
            <h2 class="text-primary">
                Zawodnicy
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Player" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-patch-plus-fill"></i>
                Dodaj nowego zawodnika
            </a>
            <button id="deleteSelectedBtn" class="btn btn-danger">Usuń zaznaczone</button>

        </div>
    </div>
    <table id="playerData" class="table hover table-striped table-bordered " style="width:100%;color:white;" data-from-addplayertoteam="false">
        <thead >
            <tr >
                <th></th>
                <th>Zdjęcie</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Pozycja</th>
                <th>Drużyna</th>
                <th>Waga(kg)</th>
                <th>Wzrost(cm)</th>
                <th>Urodziny</th>
                <th>Numer</th>
                <th>Kraj</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/player.js"></script>
}
<link rel="stylesheet" type="text/css" href="~/css/player.css" />
@*
https://bootswatch.com/cerulean/
https://bootswatch.com/lumen/
https://bootswatch.com/morph/
https://bootswatch.com/spacelab/
https://bootswatch.com/zephyr/

*@
