
.btn-facebook {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    background-image: url('/images/facebook-logo96.png');
    background-size: cover;
    transition: background-color 0.2s; 
}


.btn-google {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    background-image: url('/images/google-logo.png');
    background-size: cover;
    transition: background-color 0.2s;
}

    .btn-google:hover {
        background-color: lightblue;
    }

.btn-facebook:hover {
    background-color: #acdee6;
}
