html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#playerData {
    color: white;
    height: 50vh;
    overflow-y: auto;  Dodaj przewijanie, jeœli zawartoœæ tabeli przekroczy jej wysokoœæ 
}

.player-link {
    text-decoration: none;
        color: #333; 
}

.player-link:hover {
    color: #007BFF;
    cursor: pointer;
}