html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
  margin-bottom: 60px;
}
#playerData {
    color: white;
    height: 50vh;
    overflow-y: auto;  Dodaj przewijanie, jeœli zawartoœæ tabeli przekroczy jej wysokoœæ 
}

.player-link {
    text-decoration: none;
   color: #333; 
}

.player-link:hover {
    color: #007BFF;
    cursor: pointer;
}
.custom-header {
    margin:15px;
}
