@using BasketballLeagueTracker.ViewModels;
@model RoleViewModel
@{
    var labelClass = ViewBag.isLockedOut ? "locked" : "unlocked";
}
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary-subtle ">
            Edytuj Rolę Użytkownika
        </div>
        <div class="card-body">
            <form method="post" asp-controller="User" asp-action="EditUserRole" enctype="multipart/form-data">
                <input asp-for="User.Id" hidden />

                <div class="form-group">
                    <label for="Nickname">Nick:</label>
                    <input asp-for="User.Nickname" readonly class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input asp-for="User.Email" readonly class="form-control" />
                </div>

                <div class="form-group">
                    <label for="PhoneNumber">Numer telefonu:</label>
                    <input asp-for="User.PhoneNumber" readonly class="form-control" />
                </div>
                <div class="form-group">
                    <label>Status konta:</label>
                    <p class="@labelClass">
                        @if (ViewBag.isLockedOut)
                        {
                            <span>Konto jest zablokowane</span>
                        }
                        else
                        {
                            <span>Konto jest aktywne</span>
                        }
                    </p>
                </div>

                <div class="form-group">
                    <label for="Role">Rola:</label>
                    <select asp-for="User.Role" asp-items="@Model.Roles" class="form-control">
                        <option value="">Wybierz rolę</option>
                    </select>
                </div>



                <div class="form-group py-3">
                    <button type="submit" class="btn btn-primary">Aktualizuj rolę</button>
                    <a asp-controller="User" asp-action="Index" class="btn btn-outline-secondary">Wróć do listy użytkowników</a>
                </div>

            </form>
        </div>
    </div>
</div>

<style>
    .locked {
        color: #eb4034;
        font-weight: bold;
    }

    .unlocked {
        color: #3bf035;
        font-weight: bold;
    }
</style>
