@{
    ViewData["Title"] = "Użytkownicy";
}

@*@model List<ApplicationUser>*@

@*<partial name="_Notification" />*@
<div class="container">
    <div class="row pt-3">
        <div class="col-6">
            <h2 class="text-primary">
                Użytkownicy
            </h2>
        </div>
    <table id="userData" class="table hover table-striped table-bordered " style="width:100%;color:white;" data-from-addplayertoteam="false">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nazwa</th>
                <th>Id</th>
                <th>Utworzono</th>
                <th>Rola</th>
                <th>Zarządzaj</th>
            </tr>
        </thead>
    </table>
</div>
</div>

@section Scripts{
    <script src="~/js/user.js"></script>
}
<link rel="stylesheet" type="text/css" href="~/css/player.css" />
@*
https://bootswatch.com/cerulean/
https://bootswatch.com/lumen/
https://bootswatch.com/morph/
https://bootswatch.com/spacelab/
https://bootswatch.com/zephyr/

*@
