@{
    ViewData["Title"] = "Strona główna";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Witaj w BasketballLeagueTracker</h1>
        <p class="lead">Twoje miejsce do śledzenia lig koszykarskich i zawodników.</p>
        <hr class="my-4">
@*        <p>Tutaj znajdziesz najświeższe informacje, statystyki i wiele więcej.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Dowiedz się więcej</a>*@
    </div>
</div>
