@page
@model LockoutModel
@{
    ViewData["Title"] = "Zablokowano";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <div class="alert alert-danger" role="alert">
        <p>Te konto zostało zablokowane, proszę spróbować ponownie później.</p>
    </div>
</header>
